ansible==2.4.3.0
appdirs==1.4.3
asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
decorator==4.2.1
dogpile.cache==0.6.4
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.19
iso8601==0.1.12
Jinja2==2.10
jmespath==0.9.3
jsonpatch==1.21
jsonpointer==2.0
keystoneauth1==3.4.0
MarkupSafe==1.0
munch==2.2.0
netifaces==0.10.6
os-client-config==1.29.0
paramiko==2.4.0
pbr==3.1.1
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
PyYAML==3.12
requests==2.18.4
requestsexceptions==1.4.0
shade==1.26.0
six==1.11.0
stevedore==1.28.0
urllib3==1.22
